/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
/.clj-kondo/
/.lsp/
/doc/
uwu
*.pygtex
*.aux
*.log
*.pdf
/sprawko/.auctex-auto/
/sprawko/_minted-sprawozdanie/
*out
*blg
*bbl
